<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebSocketChatting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--
  	웹 소켓 채팅을 위한 웹 소켓 서버페이지 요청 주소 설정
  		ws://		일반 웹 소켓 서버페이지 연결 요청 주소
  		wss://		보안 웹 소켓 서버페이지(SSL/TLS가 적용 된 경우) 연결 요청 주소
  -->
  <context-param>
  	<param-name>chatAddress</param-name>
  	<param-value>ws://localhost:8090/WebSocketChatting</param-value>
  </context-param>
</web-app>